.main {
	width: 100%;
	height: 652px;
	background: url(../img/bj_72.jpg) repeat-x;
}
.main1 {
	width: 980px;
	margin: 0 auto;
}
.main_top {
	float: left;
	width: 980px;
	height: 80px;
}
.main_top img{
	margin-top: 18px;
}
.main_center {
	float: left;
	width: 917px;
	height: 32px;
	line-height: 32px;
	padding-left: 63px;
	color: #666666;
}
.main_bottom {
	float: left;
	width: 980px;
	height: 540px;
	background: url(../img/bj_75.jpg) no-repeat;
}
.main_bottom1 {
	float: left;
	width: 380px;
	height: 420px;
	margin-left: 528px;
	margin-top: 40px;
}
.main_bottom1_top {
	width: 320px;
	height: 420px;
	margin: 0 auto;
}
.main_bottom1_top1 {
	width: 320px;
	height: 42px;
	margin-top: 30px;
	font-weight: bold;
}
.main_bottom1_top11 {
	float: left;
	font-size: 18px;
	color: #111111;
}
.main_bottom1_top12 {
	float: right;
	line-height: 20px;
}
.main_bottom1_top12 a{
	color: #666666;
}
.main_bottom1_top2 input{
	width: 318px;
	height: 38px;
	border: 1px solid #cccccc;
}
a {
	text-decoration: none;
}
.main_bottom1_top4 a{
	font-weight: bold;
	color: #666666;
	position: relative;
	bottom: 30px;
	left: 260px;
}
.a1 {
	margin-top: 16px;
}
.main_bottom1_top5 {
	border-radius: 3px;
	width: 320px;
	height: 28px;
}
.main_bottom1_top51 {
	float: left;
}
.main_bottom1_top52 {
	float: right;
}
.main_bottom1_top6 input{
	float: left;
	width: 320px;
	height: 42px;
	color: #FFFFFF;
	background: #ff9a14;
	border: 0;
	cursor: pointer;
}
.main_bottom1_top7 {
	margin-left: 18px;
	color: #c2a599;
}
.main_bottom1_top7 a{
	display: inline;
	width: 54px;
	height: 14px;
	color: #999999;
	background: url(../img/bj_77.jpg) no-repeat;
	background-position: bottom;
}
.main_bottom1_top8 {
	margin-top: 50px;
	color: #666666;
}
.main_bottom1_top81{
	float: left;
}
.main_bottom1_top82 {
	float: left;
	margin: 0 10px;
}
.main_bottom1_top83 {
	float: right;
}
.main_right {
	float: left;
	width: 22px;
	height: 96px;
	margin-top: 50px;
	cursor: pointer;
	font-size: 13px;
	font-weight: bold;
	padding-left: 10px;
	padding-top: 8px;
}
.main_right a {
	color: #FFFFFF;
}
.main_1 {
	float: left;
	width: 960px;
	height: 132px;
}
.main_2 {
	float: left;
	width: 960px;
	height: 53px;
	border-top: dashed #9eccf5;
	margin-top: 55px;
	padding-top: 23px;
}
.main_a {
	float: left;
	width: 960px;
	height: 53px;
}
.main_a1,.main_a2 {
	text-align: center;
	color: #4c4c4c;
	font-weight: bold;
}
.main_a1 a{
	color: #4c4c4c;
}