a {
	text-decoration: none;
}
.snav {
	width: 100%;
	height: 198px;
	background: url(../img/bj_01.jpg) repeat-x;
}
.snav_f {
	width: 1180px;
	height: 198px;
	margin: 0 auto;
}
.snav_top {
	float: left;
	width: 1180px;
	height: 36px;
	line-height: 36px;
	
}
.snav_top1 {
	float: left;
	width: 560px;
	height: 36px;
	color: #666666;
	font-weight: bold;
	margin-left: 14px;
}
.snav_top1 span {
	margin-left: 25px;
	color: #667cb1;
}
.snav_top1 img {
	margin: 0 5px;
}
.snav_top2 {
	float: left;
	width: 606px;
	height: 36px;
	line-height: 36px;
	font-weight: bold;
}
.snav_top2 li {
	float: left;
}
.snav_top20 {
	margin: 0 15px;
	color: #dddddd;
}
.snav_top21 {
	color: #0066cc;
}
.snav_top22 a{
	color: #666666;
}
.snav_top23 {
	margin-left:15px;
	color: #dddddd;
}
.snav_top24 {
	width: 25px;
	height: 36px;
	padding-left: 15px;
}
.snav_top24:hover {
	background: #FFFFFF;
}
.snav_top25 {
	width: 32px;
	height: 36px;
	padding-left: 15px;
}
.snav_top25:hover {
	background: #FFFFFF;
}
.snav_top3 {
	float: left;
	width: 140px;
	height: 200px;
	position: absolute;
	top: 0;
	left: 0;
	background: #FFFFFF;
	display: none;
	border: 1px solid #dddddd;
}
.snav_top31 {
	width: 140px;
	height: 135px;
	margin-top: 5px;
	background: url(../img/bj_07.jpg) no-repeat;
	background-position: center;
}
.snav_top32 {
	width: 140px;
	height: 24px;
	line-height: 24px;
	font-weight: bold;
	color: #666666;
	text-align: center;
}
.snav_top33 {
	width: 140px;
	height: 36px;
	background: #92bbf1;
	text-align: center;
}
.snav_top33:hover {
	cursor: pointer;
}
.snav_top33 a {
	color: #FFFFFF;
}
.snav_top4 {
	display: none;
}
.snav_center {
	float: left;
	width: 1180px;
	height: 80px;
}
.snav_center1 {
	float: left;
	width: 170px;
	height: 62px;
	padding-top: 18px;
}
.snav_center2 {
	float: left;
	width: 382px;
	height: 80px;
}
.snav_center2 input{
	width: 380px;
	height: 28px;
	border: 1px solid #8ebefc;
	margin-top: 25px;
	border-radius: 3px;
}
.snav_center3 {
	float: left;
	width: 43px;
	height: 80px;
}
.snav_center3 img {
	position: relative;
	top: 26px;
	right: 43px;
}
.snav_center4 {
	float: right;
	width: 562px;
	height: 55px;
	padding-top: 25px;
}
.snav_center4 li {
	float: right;
}
.snav_center5 {
	float: right;
	width: 8px;
	height: 80px;
	background: url(../img/bj_03.jpg) no-repeat;
	background-position: center;
	margin-left: 5px;
	margin-right: 10px;
}
.snav_bottoma {
	float: left;
	width: 1180px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	
}
.snav_bottoma li {
	float: left;
}
.snav_bottoma a {
	color: #FFFFFF;
}
.snav_bottoma img {
	margin-left: 5px;
	margin-bottom: 3px;
}
.snav_bottoma1 {
	padding: 0 11px;
}
.snav_bottoma1_yes {
	background: #0a56bb;
	padding: 0 11px;
}
.snav_bottoma1:hover {
	background: #0a56bb;
}
.snav_bottoma2 {
	color: #1d67dd;
}
.snav_bottoma3 {
	padding: 0 11px;
}
.snav_bottomb {
	float: left;
	width: 1180px;
	height: 42px;
	line-height: 42px;
}
.snav_bottomb li{
	float: left;
	margin-right: 14px;
}
.snav_bottomb img {
	margin-right: 6px;
}
.snav_bottomb a {
	color: #666666;
	font-weight: bold;
}
#snav_bottomb_2,#snav_bottomb_3,#snav_bottomb_4,#snav_bottomb_5,#snav_bottomb_6,#snav_bottomb_7,#snav_bottomb_8,#snav_bottomb_9 {
	display: none;
}

.snav_bottomb1 {
	width: 70px;
	height: 42px;
	background: url(../img/bj_11.jpg) no-repeat;
	background-position: center;
	padding-left: 5px;
	color: #FFFFFF;
	font-weight: bold;
}
.main {
	width: 1180px;
	margin: 0 auto;
}
.main_top {
	float: left;
	width: 1180px;
	height: 42px;
	margin-top: 20px;
}
.main_top1 {
	float: left;
	width: 94px;
	height: 42px;
}
.main_top2 {
	float: left;
	width: 174px;
	height: 38px;
	border: 1px solid #d6d6d6;
	margin-top: 2px;
}
.main_top3 {
	float: left;
	width: 122px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: url(../img/lv_03.jpg) no-repeat;
	margin-top: 2px;
	margin-left: 20px;
	font-size: 13px;
	font-weight: bold;
}
.main_top4 {
	float: left;
	width: 361px;
	height: 40px;
	background: url(../img/lv_04.jpg) repeat-x;
	margin-top: 2px;
}
.main_top4 input{
	float: left;
	width: 361px;
	height: 34px;
	border: 0;
	margin-top: 3px;
}
.main_top5 {
	float: left;
	width: 130px;
	height: 40px;
	background: url(../img/lv_05.jpg) no-repeat;
	margin-top: 2px;
	font-size: 17px;
	font-weight: bold;
	color: #FFFFFF;line-height: 40px;
	text-align: center;
	cursor: pointer;
}
.main1 {
	float: left;
	width: 1180px;
	height: 550px;
	margin-top: 20px;
}
.main1_left {
	float: left;
	width: 269px;
	height: 550px;
	border: 1px solid #dddddd;
	box-shadow: 5px 0 5px #cdcdcd,0 5px 5px #cdcdcd;
}
.main1_left a{
	color: #666666;
	white-space: nowrap;
	color="#0066cc"
}
.main1_left a:hover{
	color: #0066cc;
	text-decoration: underline;
}
.main1_left li:first-child{
	width: 229px;
	height: 42px;
	font-size: 15px;
	font-weight: bold;
	line-height: 42px;
}
.main1_left1 {
	float: left;
	width: 229px;
	height: 65px;
	padding: 0 20px;
}
.main1_left2 {
	float: left;
	width: 229pxs;
	height: 84px;
	border-top: 1px solid #eeeeee;
	padding: 0 20px;
}
.main1_left3{
	float: left;
	width: 229pxs;
	height: 65px;
	border-top: 1px solid #eeeeee;
	padding: 0 20px;
}
.main1_left span+a{
	background-color: #ff6600;
	color: #FFFFFF;
	border-radius: 1px;
}
.main1_left span+a:hover{
	text-decoration: none;
	color: #FFFFFF;
}
.main1_right {
	float: left;
	width: 909px;
	height: 550px;
	/*position: relative;
	right: 1px;*/
}
.main1_right1{
	float: left;
	width: 709px;
	height: 275px;
	position: relative;
	right: 1px;
}
.main1_right2{
	float: left;
	width: 200px;
	height: 275px;
}
.main1_right3{
	float: left;
	width: 909px;
	height: 275px;
}
.main1_right3_s {
	float: left;
	width: 709px;
	height: 275px;
}
.main1_right3_z {
	float: left;
	width: 200px;
	height: 275px;
}
.main1_right3_s1 {
	float: left;
	width: 709px;
	height: 51px;
	line-height: 51px;
	font-weight: bold;
}
.main1_right3_s1 li {
	float: left;
}
.main1_right3_s11 {
	font-size: 20px;
	margin-left: 12px;
	
}
.main1_right3_s12 {
	margin-left: 38px;
	
	padding-right: 20px;
	font-size: 14px;
}
.main1_right3_s12 a,main1_right3_s11 a {
	color: #ff6d6d;
}
.main1_right3_s13 {
	padding-left: 18px;
	padding-right: 20px;
	font-size: 14px;
	background: url(../img/lv_23.jpg) no-repeat;
	background-position: left;
}
.main1_right3_s13 a{
	color: #333333;
}
.main1_right3_s14 a{
	margin-left: 142px;
	color: #999999;
	padding-right: 20px;
	font-size: 14px;
}
.main1_right3_s2 {
	float: left;
	width: 698px;
	height: 224px;
	margin-left: 11px;
}
.main1_right3_s21 {
	float: left;
	width: 210px;
	height: 224px;
}
.main1_right3_s21_img {
	float: left;
	width: 210px;
	height: 110px;
	background: url(../img/lv_11.jpg) no-repeat;
	background-size: 210px 110px;
}
.main1_right3_s21_img img {
	float: left;
}
.main1_right3_s21_img0 {
	float: left;
	width: 210px;
	height: 30px;
	margin-top: 50px;
	background: rgba(0,0,0,0.5);
	color: #FFFFFF;
}
.main1_right3_s21_img0 li:nth-child(1) {
	float: left;
	width: 16px;
	height: 16px;
	padding: 7px 10px;

}
.main1_right3_s21_img0 li:nth-child(2) {
	float: left;
	width: 160px;
	height: 30px;
	padding-right: 14px;
	line-height: 30px;
	overflow: hidden;
}
.main1_right3_s21_bo {
	float: left;
	width: 200px;
	height: 86px;
	font-size: 15px;
	font-weight: bold;
	color: #333333;
	margin-left: 10px;
}
.main1_right3_s21_ja {
	float: left;
	width: 200px;
	height: 28px;
	font-size: 20px;
	color: #ff6600;
	margin-left: 10px;
}
.main1_right3_s21_ja span {
	font-size: 13px;
	color: #999999;
}
.main1_right3_s22 {
	float: left;
	width: 210px;
	height: 224px;
	margin: 0 23px;
}
.main2 {
	float: left;
	width: 1180px;
	height: 60px;
	margin-top: 25px;
}
.main2_left {
	float: left;
	width: 32px;
	height: 32px;
	background-color: #73b9ff;
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	padding: 14px 14px;
}
.main2_right {
	float: left;
	width: 1120px;
	height: 60px;
	background-color: #f7fbff;
	border: 1px solid #e8f3ff;
	border-left: 0;
	border-right: 0;
}
.main2_right li{
	float: left;
	width: 139px;
	height: 58px;
	line-height: 58px;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	border-right: 1px solid #e8f3ff;
	cursor: pointer;
}
.main2_right li:nth-child(1) {
	color: #79b765;
}
.main2_right li:nth-child(2) {
	color: #7b7b6f;
}
.main2_right li:nth-child(3),.main2_right li:nth-child(4) {
	color: #b899ff;
}
.main2_right li:nth-child(5) {
	color: #e5816e;
}
.main2_right li:nth-child(6) {
	color: #3a9ab2;
}
.main2_right li:nth-child(7) {
	color: #ff7f00;
}
.main2_right li:nth-child(8) {
	color: #677999;
}
.main3 {
	float: left;
	width: 1180px;
	height: 362px;
	margin-top: 25px;
}
.main3_left {
	float: left;
	width: 210px;
	height: 362px;
}
.main3_left1 {
	float: left;
	width: 210px;
	height: 44px;
	background-color: #3fc724;
	font-size: 23px;
	font-weight: bold;
	color: #FFFFFF;
	line-height: 44px;
	text-align: center;
}
.main3_left2 {
	float: left;
	width: 210px;
	height: 318px;
}
.main3_right {
	float: left;
	width: 970px;
	height: 362px;
}
.main3_right0 {
	float: left;
	width: 958px;
	height: 42px;
	margin-left: 12px;
	background: url(../img/lv_15.jpg) repeat-x;
	background-position: top;
}
.main3_right0 li {
	float: left;
	width: 63px;
	height: 42px;
	font-size: 14px;
	font-weight: bold;
	color: #3fc724;
	line-height: 42px;
	text-align: center;
	background: url(../img/lv_14.jpg) no-repeat;
	background-position: right;
	border-top: 2px solid #cccccc;
}
.main3_right0>li:nth-child(1){
	border-top: 2px solid #3fc724;
}
.main3_right0>li:nth-child(10){
	background: none;
}
.main3_right0>li:not(.main3_right01){
	color: #333333;
}
.main3_right0 li:hover {
	border-top: 2px solid #3fc724;
}
.main3_right ul{
	float: left;
	width: 230px;
	height: 314px;
	border: 1px solid #eeeeee;
	margin-left: 10px;
	
}
.main3_right ul li {
	float: left;
}
.main3_right1 {
	float: left;
	width: 230px;
	height: 179px;
}
.main3_right2 {
	float: left;
	width: 206px;
	height: 85px;
	font-size: 15px;
	font-weight: bold;
	color: #333333;
	margin: 0 12px;
	margin-top: 14px;
}
.main3_right3 {
	color: #ff6600;
	font-size: 19px;
	font-weight: bold;
}
.main3_right3 span{
	color: #999999;
	font-size: 12px;
}
.main4 {
	float: left;
	width: 100%;
	height: 187px;
	margin-top: 25px;
	
}
.main4_left {
	float: left;
	width: 574px;
	height: 187px;
	background: url(../img/lv_18.jpg) repeat-x;
	margin-right: 4px;
	padding-left: 14px;
}
.main4 li img{
	float: left;
	margin-top: 70px;
	margin-left: 38px;
	border-radius: 50%;

}
.main4 li img:hover {
	transform: rotate(360deg);
	transition-duration: 1.5s;
}
.main4_right {
	float: left;
	width: 574px;
	height: 187px;
	background: url(../img/lv_19.jpg) repeat-x;
	padding-left: 14px;
}
.main5 {
	float: left;
	width: 1178px;
	height: 104px;
	border: 1px solid #f0f0f0;
	margin-top: 20px;
	cursor: pointer;
}
.main5_zhuan1 {
	float: left;
	width: 85px;
	height: 84px;
	font-size: 19px;
	font-weight: bold;
	color: #666666;
	padding-top: 20px;
	padding-left: 20px;
}
.main5_zhuan2 {
	float: left;
	width: 100px;
	height: 74px;
	font-size: 19px;
	font-weight: bold;
	margin-top: 15px;
	color: #666666;
	padding: 0 128px;
	background: url(../img/lv_22.jpg) no-repeat;
	background-position: right;
}
.main5_zhuan2:last-child {
	background: none;
}

.main5_zhuan2 li:not(.zan) {
	color: #999999;
	font-size: 12px;
}
.main6 {
	float: left;
	width: 1180px;
	height: 120px;
	margin-top: 20px;
}
.main6 li {
	float: left;
	margin-right: 20px;
}
.main6 li:last-child {
	margin-right: 0;
}
.main7 {
	float: left;
	width: 1180px;
	height: 122px;
	margin-top: 20px;
}
.main7_left {
	float: left;
	width: 580px;
	height: 122px;
	margin-right: 20px;
	background-color: #f1f1f1;
}
.main7_right {
	float: left;
	width: 580px;
	height: 122px;
	background-color: #f1f1f1;
}
.main7_left1 {
	float: left;
	width: 580px;
	height: 58px;
	line-height: 60px;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	color: #666666;
}
.main7_left2{
	float: left;
	width: 140px;
	margin-left: 50px;
	color: #666666;
	font-weight: bold;
}
.main7_left2 li:last-child {
	margin-top: 19px;
}
.main8 {
	float: left;
	width: 1180px;
	height: 326px;
	border-top: 1px dashed #999999;
	margin-top: 20px;
}
.main8_index1 {
	float: left;
	width: 1180px;
	height: 59px;
	line-height: 59px;
	color: #aaaaaa;
}
.main8_index1 a{
	color: #aaaaaa;
}
.main8_index1 a:hover{
	color: #2577e3;
	text-decoration: underline;
}
.main8 dt{
	color: #aaaaaa;
	font-weight: bold;
	font-size: 14px;
	margin-top: 10px;
}
.main8 dd a {
	color: #aaaaaa;
	font-weight: bold;
	margin-right: 3px;
	white-space: nowrap;
}
.main9 {
	float: left;
	width: 1180px;
	height: 147px;
}
.main9 li{
	text-align: center;
}
.main9 li:nth-child(2),.main9 li:nth-child(3){
	margin-top: 5px;
}
.main9 li:nth-child(4),.main9 li:nth-child(5){
	margin-top: 8px;
}
